<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/styles.css")
    title Puteapp
  body
    .loader
      figure
        img(src="img/logo.svg", alt="logo")
    header
      .ed-container
        .ed-item(data='menu')
          span#btn.icon-menu.main-end
        .ed-item(data='nav').no-padding
          nav.menu
            figure
              img(src="img/logo.svg", alt="")
            ul
              li 
                a(href="#") GRABAR
              li 
                a(href="#") AYUDA
              li 
                a(href="#") TERMINOS Y CONDICIONES
              li 
                a(href="#") CREDITOS


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="js/scripts.js")