.main{
	padding-top: 2.5em;
	figure{
		margin: 0;
	}
	figure[alt="logo"]{
		width: 65%;
		margin: auto;
	}

}
#section{
	height:100vh;
	width:300%;
	display:flex;
	flex-direction: row;
}
#grabar{
	height: 100vh;
	width: 100vw;
	transition: margin .5s;
	margin-left: 0;

	figure[alt="micro"]{
		margin: .2em auto 2em auto;
		cursor: pointer;
		max-width: 150px;
		img{
			width: 150px;
		}
	}
	p{
		color: #ffffff;
		margin: auto;
		@include desde(movil){
			width: 50%;
		}
	}
	button#btnManual{
		max-width: 475px;
		margin-top: 2rem;
		width: 85%;
		border-radius: 50px;
		border:1px solid white;
		color:white;
		line-height: 4;
		background:rgba(0,0,0,0);
		a{
			color:white;
			display: block;
		}
	
	}
}
#manual{
	position: relative;
	width: 100vw;
	height: 100vh;
	form{
		max-width: 480px;
		margin: auto;
		min-height: 70vh;
		width:100%;
		button{
			max-width: 480px;
			margin-top: 2rem;
			width: 100%;
			border-radius: 50px;
			border:1px solid white;
			color:white;
			line-height: 4;
			background:rgba(0,0,0,0);
		}
	}
}
#login{
	width:100vw !important;
	height: 100vh;
	position:relative;
	display: flex;
	flex-direction:column;

	@include desde(movil){
		background: url("../img/furia.png")no-repeat;
		background-position: center bottom;
	}
	@include desde(web){
		background: none;
	}
	button{
		max-width: 475px;
		text-align: center;
		margin-top: 1.5rem;
		width: 100%;
		background-color:#3a589e;
		border-radius: 50px;
		border:1px solid transparent;
		color:white;
		margin-bottom: 2em;
		line-height: 4;
		span{
			font-size: 1.6em;
			line-height: 0;
			margin-left: -5%;
		}
	}

	.hastaFondo{
		margin-top: auto;
		position: relative;
		background:#56595A;
		width:100vw;
		height: 30px;
		a{
			color:white;
		}
	}
	form{
		max-width: 480px;
		margin:auto;
		input{
			max-width: 475px;
			display:block;
			width: 100%;
			line-height: 4;
			border-radius:50px;
			border: 1px solid white;
			margin-bottom: 2em;
			text-align: center;
		}
		input[placeholder="Username"]{
			background:url(../img/user.png)no-repeat , #a6a6a8;
		}
		input[placeholder="Password"]{
			background:url(../img/pass.png)no-repeat, #a6a6a8;
		}
		input[placeholder="Username"],
		input[placeholder="Password"]{
			background-position: 25% 50%;
			border:none;
			color:white;
		}
		::-webkit-input-placeholder { color: white; } 
		input[value="Login"] {
			border:none;
			background:url(../img/flecha.png)no-repeat,transparent;
			background-position: 2% 50%;
			color:red;
			margin:auto;
			margin-top: -1.5em;
			font-size: 1em; 
			max-width: 120px;
			cursor: pointer;
		}

		@include desde(movil){
			
			input[placeholder="Username"],
			input[placeholder="Password"]{
				background-position: 35% 50%;
				border:none;
				color:white;
			}
			input[value="Login"]{
				background-position: 2% 50%;
			}
		}
	}
}