#main{
	padding-top: 3.9em;
	figure[alt="logo"]{
		width: 65%;
		margin: auto;
	}
	figure[alt="micro"]{
		margin: 2rem 0;
		cursor: pointer;
		img{
			width: 150px;
		}
	}
	p{
		color: #ffffff;
		margin: auto;
		@include desde(movil){
			width: 50%;
		}
	}
	form{
		min-height: 70vh;
		display: none;
		textarea{
			width: 80%;
			display: block;
			margin: auto;
			margin-top: 8em;
			background:none;
			border:none;
			border-bottom: 1px solid #eee;
			color:white;
			cursor:text;
			transition: all .6s;
			transition: background-color 1s;
			&::-moz-placeholder{
				color:white;
			}
		}
		button{
			margin-top: 2rem;
			width: 80%;
			border-radius: 50px;
			border:1px solid white;
			color:white;
			line-height: 4;
			background:rgba(0,0,0,0);
		}
	}
	button#btnMano{
		margin-top: 10rem;
		width: 85%;
		border-radius: 50px;
		border:1px solid white;
		color:white;
		line-height: 4;
		background:rgba(0,0,0,0);
	}
}